<main class="page catalog-page" style="padding-top: 0px;">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Welcome to {{ storeName$ | async }}</h2>
                <!-- <mat-form-field [style.width]="'100%'">
                    <mat-label>Select your favourite shopping store</mat-label>
                    <mat-select #store [(value)]="store_id">
                      <mat-option value="" >None</mat-option>
                      <mat-option *ngFor="let store of stores$ | async" [value]="store.store_id">
                        {{store.full_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->

                  <mat-form-field class="example-form-field"  [style.width]="'50%'" >
                    <mat-label>Search for an item with in the store</mat-label>
                    <input matInput type="text" [(value)]="serachValue">
                    <button mat-button *ngIf="serachValue" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
        
                  <button [disabled]="serachValue == ''" mat-raised-button color="primary">Search</button>
        
            </div>
            <div class="content">
                <div class="row product-list" style="margin-right: 0px;margin-left: 0px;">
                    <div class="col-sm-6 col-md-4 product-item" *ngFor="let item of items$ | async">
                        <div class="product-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <a routerLink="/item/{{  item.item_id }}" class="product-image">
                                        <img [src]=" apiUrl+item.image">
                                    </a>
                                </div>
                            </div>
<!--                             <div class="row" (click)="viewItem(item.item_id)" >
                                <div class="col-8">
                                    <h2>{{item.name}}</h2>
                                </div>
                            </div> -->
                            <div class="pointer" class="row" routerLink="/item/{{  item.item_id }}" >
                                <div class="col-8">
                                    <h2 class="pointer" >{{item.name}}</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <button mat-raised-button color="primary" (click)="addToCart(item.item_id, item.name)" >Add to cart</button>
                                        </div>
                                        <div class="col-6">
                                            <p class="product-price">{{item.unit_price | currency:'UGX ' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Welcome to Shoprite</h2>
            </div>
            <div class="content">
                <div class="row product-list" style="margin-right: 0px;margin-left: 0px;">
                    <div class="col-sm-6 col-md-4 product-item">
                        <div class="product-container">
                            <div class="row">
                                <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <h2><a href="#">iPhone 6s</a></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6"><button class="btn btn-light" type="button">Add to cart</button></div>
                                        <div class="col-6">
                                            <p class="product-price">Ushs 10,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 product-item">
                        <div class="product-container">
                            <div class="row">
                                <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <h2><a href="#">iPhone 6s</a></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6"><button class="btn btn-light" type="button">Add to cart</button></div>
                                        <div class="col-6">
                                            <p class="product-price">Ushs 10,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 product-item">
                        <div class="product-container">
                            <div class="row">
                                <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/iphone6.jpg"></a></div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <h2><a href="#">iPhone 6s</a></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6"><button class="btn btn-light" type="button">Add to cart</button></div>
                                        <div class="col-6">
                                            <p class="product-price">Ushs 10,000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </section>
</main>
